<div id="boxesContainer">
    <div id="firstBlock" class="flexElement">
        <div class="box">
            <h4>Total QTY</h4>
            <h3>4251 Units</h3>
        </div>
        <div class="box">
            <h4>Total Value</h4>
            <h3>$22755554</h3>
        </div>
        <div class="box">
            <h4>Total Buckets</h4>
            <h3>0</h3>
        </div>
    </div>
    <div id="secondBlock" class="flexElement">
        <div id="boxSummary">
            <h2 class="title">Summary</h2>
            <div class="boxSecond">
                <h3>2252 Units</h3>
                <h4>Near Expiration</h4>
            </div>
            <div class="boxSecond">
                <h3>5 Units</h3>
                <h4>Low Stock Items</h4>
            </div>
            <div class="boxSecond">
                <h3>0</h3>
                <h4>Out of Stock Items</h4>
            </div>
        </div>
    </div>
</div>
