.separator {
    border-top: 1px solid #B6B3B3; /* Color de la línea */
    margin: 10px 0; /* Margen de 20px arriba y abajo, sin margen a los lados */
    width: 98%; /* Ancho de la línea */
    margin-left: auto; /* Centrar */
    margin-right: auto; /* Centrar */
  }