.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.searchInputs, .actionButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; 
  margin: 10px 1%;
  width: 48%;
}

.searchInput {
  width: 46%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #b6b3b3;
  background-color: #FAF9FD;
  padding-left: 5px;
}

@media (max-width: 650px) {
  .searchInput {
    width: 99%;
    padding-left: 5px;
  }
}

.actionButton {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #b6b3b3;
  background-color: #FAF9FD; 
  width: max-content;
  padding: 7px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .mainContainer {
    flex-direction: column; 
    align-items: center; 
  }

  .searchInputs {
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
  }

  .actionButtons {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
}