<div class="mainContainer">
    <div class="searchInputs">
      <input type="text" placeholder="🔍 Search by product name" class="searchInput">
      <input type="text" placeholder="🔍 Search by SKU, EAN/UPC" class="searchInput">
    </div>
    <div class="actionButtons">
      <button class="actionButton dropdown">
        <span class="material-icons">sort</span>
        Sort By
      </button>
      <button class="actionButton">Filter</button>
      <button class="actionButton">Summarize</button>
    </div>
  </div>
